apiVersion: apps/v1
kind: Deployment
metadata:
  name: ztp
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ztp
  template:
    metadata:
      labels:
        app: ztp
    spec:
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: node-role.kubernetes.io/control-plane
                operator: DoesNotExist
              - key: node-role.kubernetes.io/master
                operator: DoesNotExist
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
      containers:
      - name: ztp
        image: scr4pp/ztp:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 8080
        env:
        - name: DB_PATH
          value: "/data/db"
        volumeMounts:
        - name: ztp-db-data
          mountPath: "/data/db"
      volumes:
      - name: ztp-db-data
        persistentVolumeClaim:
          claimName: ztp-db-pvc
